<h4>Cadastrar Novo Endereço</h4>
<form #enderecoForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="success == true">
                Endereço cadastrado com sucesso!
            </div>
            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{ erro }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="logradouro" type="text" class="validate">
            <label for="logradouro">Tipo Logradouro</label>
        </div>
        <div class="input-field col s6">
            <input id="residencia" type="text" class="validate">
            <label for="residencia">Tipo Residência</label>
        </div>
        <div class="input-field col s6">
            <input id="endereco" type="text" class="validate">
            <label for="endereco">Endereço</label>
        </div>
        <div class="input-field col s6">
            <input id="numero" type="text" class="validate">
            <label for="numero">Numero</label>
        </div>
        <div class="input-field col s6">
            <input id="bairro" type="text" class="validate">
            <label for="bairro">Bairro</label>
        </div>
        <div class="input-field col s6">
            <input id="cep" type="text" class="validate">
            <label for="cep">CEP</label>
        </div>
        <div class="input-field col s6">
            <input id="cidade" type="text" class="validate">
            <label for="cidade">Cidade</label>
        </div>
        <div class="input-field col s6">
            <input id="estado" type="text" class="validate">
            <label for="estado">Estado</label>
        </div>
        <div class="input-field col s6">
            <input id="pais" type="text" class="validate">
            <label for="pais">País</label>
        </div>
    </div>

    <a type="submit" class="waves-effect waves-light btn">
        <i class="material-icons">save</i>Cadastrar</a>

    <a type="button" class="waves-effect waves-light btn" (click)="voltarParaListagem()">
        <i class="material-icons">arrow_back</i>Voltar</a>

</form>