.modal>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
}

.botao {
    margin-left: 300px;
    margin-top: 50px;
}

.container {
    margin-top: 40px;
    border-style: solid;
    border-color: darkgray;
}

hr {
    margin: 10px 0;
}