<body>

    <div class="shopping-cart">
        <div class="title">
            Meus Pedidos
        </div>

        <div class="item">
            <div class="buttons">
                <img class="delete-btn" src="./assets/rede3.jpeg" alt="">
            </div>
            <div class="image">
                <img src="" alt="" />
            </div>
            <div class="description">
                <span>Calça Mom</span>
                <span>Tamanho: 40</span>
                <span>Amarela</span>
            </div>
            <div class="quantity">
                <input value="1">
            </div>
            <div class="total-price">$80</div>
        </div>
    </div>
</body>