<h4>Editar Dados</h4>
<form #editarClienteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="success == true">
                Cliente editado com sucesso!
            </div>
            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{ erro }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Placeholder" id="name" type="text" [(ngModel)]="cliente.nome" name="nome" class="validate">
            <label for="name">Nome</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" [(ngModel)]="cliente.email" name="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="genero" type="text" [(ngModel)]="cliente.genero" name="genero" class="validate">
            <label for="genero">Gênero</label>
        </div>
        <div class="input-field col s6">
            <input id="dataNascimento" type="date" [(ngModel)]="cliente.dtNascimento" name="dtNascimento" class="validate">
            <label for="dataNascimento">Data Nascimento</label>
        </div>
        <div class="input-field col s6">
            <input id="cpf" type="text" [(ngModel)]="cliente.cpf" name="cpf" class="validate">
            <label for="cpf">CPF</label>
        </div>
        <div class="input-field col s6">
            <input id="celular" type="text" [(ngModel)]=" cliente.celular " name="nome" class="validate">
            <label for="celular">Celular</label>
        </div>
        <div class="input-field col s6">
            <input id="celular2" type="text" [(ngModel)]="cliente.celular2" name="nome" class="validate">
            <label for="celular2">Celular 2</label>
        </div>
    </div>

    <a type="submit" class="waves-effect waves-light btn" *ngIf="!cliente.id">
        <i class="material-icons">save</i>Atualizar</a>

    <a type="button" class="waves-effect waves-light btn" (click)="voltarParaListagem()">
        <i class="material-icons">arrow_back</i>Voltar</a>

</form>