<div class="container">
    <!-- <div class="row">
        <div class="col-md-12">

            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                 {{ mensagemSucesso }}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
              <i class="fa fa-plus"></i> Novo
          </button>
        </div>
    </div>
    <br />  -->

    <div class="row">
        <div class="span9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Preço Compra</th>
                        <th scope="col">Preço Venda</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">A001</th>
                        <td>Rede Simples Azul</td>
                        <td>Rede</td>
                        <td>Produto feito com tecido de qualidade da mais alta tecnologia textil</td>
                        <td>80,00</td>
                        <td>119,00</td>
                        <td><i class="bi bi-pencil-square"></i></td>
                        <td><i class="bi bi-trash"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">A002</th>
                        <td>Rede Simples Creme</td>
                        <td>Rede</td>
                        <td>Produto feito com tecido de qualidade da mais alta tecnologia textil</td>
                        <td>80,00</td>
                        <td>119,00</td>
                    </tr>
                    <tr>
                        <th scope="row">A003</th>
                        <td>Rede Simples Preta</td>
                        <td>Rede</td>
                        <td>Produto feito com tecido de qualidade da mais alta tecnologia textil</td>
                        <td>80,00</td>
                        <td>119,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
