<div>
    <h4>Lista de Cartões</h4>
</div>

<div class="mat-elevation-z4">
    <table class="highlight">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Genero</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="cliente.id">
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.dtNascimento }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.celular }}</td>
                <td>{{ cliente.celular2 }}</td>
                <td>
                    <!-- <a routerLink="/editar-cliente/{{ cliente.id }}" class="waves-effect waves-light btn">
                        <i class="material-icons">create</i>Editar</a> -->

                    <a class="waves-effect waves-light btn modal-trigger" (click)="preparaDelecao(cliente)" href="#modal1">
                        <i class="material-icons">delete</i>Excluir</a>
                </td>
            </tr>
        </tbody>


        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-content" *ngIf="clienteSelecionado">
                    Confirma a deleção da Conta {{ clienteSelecionado.email }}?
                </div>

                <div class="modal-footer">
                    <a class="waves-effect waves-light btn" (click)="deletarCartao()" data-dismiss="modal">Confirmar</a>
                    <a class="waves-effect waves-light btn" data-dismiss="modal">Cancelar</a>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>

    </table>
</div>