<div>
    <h4>Lista de Cartões</h4>
</div>

<div class="mat-elevation-z4">
    <table class="highlight">
        <thead>
            <tr>
                <th>Numero do Cartão</th>
                <th>Nome</th>
                <th>Bandeira</th>
                <th>Código</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cartao of cartoes">
                <td>{{ cartao.numCartao }}</td>
                <td>{{ cartao.nomeClienteCartao }}</td>
                <td>{{ cartao.bandeira }}</td>
                <td>{{ cartao.codigo }}</td>
                <td>

                    <a style="margin-left: 20%;" type="submit" class="btn btn-info" routerLink="/form-cliente">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg> Editar</a>

                    <a type="button" class="btn btn-primary" (click)="novoCadastroCartao()">
                        <i class="material-icons">save</i>Cadastrar Cartão</a>

                    <a class="waves-effect waves-light btn modal-trigger" (click)="preparaDelecao(cartao)" href="#modal1">
                        <i class="material-icons">delete</i></a>
                </td>
            </tr>
        </tbody>


        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-content" *ngIf="cartaoSelecionado">
                    Confirma a deleção do(a) Cartão {{ cartaoSelecionado.numCartao }}?
                </div>

                <div class="modal-footer">
                    <a class="waves-effect waves-light btn" (click)="deletarCartao()" data-dismiss="modal">Confirmar</a>
                    <a class="waves-effect waves-light btn" data-dismiss="modal">Cancelar</a>
                </div>

            </div>
        </div>

    </table>
</div>
