<h1>Tapetes</h1>

<body>
    <div class="container produto">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card card-imagem h-100">
                    <a class="link">
                        <img class="img-fluid" src="./assets/tapete.jpeg" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center">Rede de Descanso Simples Creme.
                            </h6>
                            <h5 class="card-preco-red text-center">
                                10x 11,90
                            </h5>
                            <h5 class="text-center">
                                <b>sem juros</b> no cartão
                            </h5>
                            <h5 class="card-preco-green text-center">
                                À vista 100,00
                            </h5>
                            <h5 class="text-center">
                                no boleto com 12% <b>de desconto</b>
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card card-imagem h-100">
                    <a class="link">
                        <img class="img-fluid" src="./assets/tapete.jpeg" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center">Rede de Descanso Simples Creme.
                            </h6>
                            <h5 class="card-preco-red text-center">
                                10x 11,90
                            </h5>
                            <h5 class="text-center">
                                <b>sem juros</b> no cartão
                            </h5>
                            <h5 class="card-preco-green text-center">
                                À vista 100,00
                            </h5>
                            <h5 class="text-center">
                                no boleto com 12% <b>de desconto</b>
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card card-imagem h-100">
                    <a class="link">
                        <img class="img-fluid" src="./assets/tapete.jpeg" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center">Rede de Descanso Simples Creme.
                            </h6>
                            <h5 class="card-preco-red text-center">
                                10x 11,90
                            </h5>
                            <h5 class="text-center">
                                <b>sem juros</b> no cartão
                            </h5>
                            <h5 class="card-preco-green text-center">
                                À vista 100,00
                            </h5>
                            <h5 class="text-center">
                                no boleto com 12% <b>de desconto</b>
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>