<div class="container">
    <div class="card-group">
        <div class="card">
            <a class="fill-div" routerLink="/detalhe-produto">
                <img class="card-img-top" src="./assets/rede3.jpeg">
            </a>
            <div class="card-body" style="text-align: center;">

                <h6>
                    <p>Rede Simples Preta</p>
                </h6>
                <h6>
                    <p>10x 11,90 Sem Juros</p>
                </h6>
                <h6>
                    <p>À vista 100,00</p>
                </h6>
                <h6>
                    <p>no boleto com 12% <b>de desconto</b></p>
                </h6>
            </div>
        </div>
        <div class="card">
            <a class="fill-div" routerLink="/detalhe-produto">
                <img class="card-img-top" src="./assets/rede3.jpeg">
            </a>
            <div class="card-body" style="text-align: center;">

                <h6>
                    <p>Rede Simples Preta</p>
                </h6>
                <h6>
                    <p>10x 11,90 Sem Juros</p>
                </h6>
                <h6>
                    <p>À vista 100,00</p>
                </h6>
                <h6>
                    <p>no boleto com 12% <b>de desconto</b></p>
                </h6>
            </div>
        </div>
        <div class="card">
            <a class="fill-div" routerLink="/detalhe-produto">
                <img class="card-img-top" src="./assets/rede3.jpeg">
            </a>
            <div class="card-body" style="text-align: center;">

                <h6>
                    <p>Rede Simples Preta</p>
                </h6>
                <h6>
                    <p>10x 11,90 Sem Juros</p>
                </h6>
                <h6>
                    <p>À vista 100,00</p>
                </h6>
                <h6>
                    <p>no boleto com 12% <b>de desconto</b></p>
                </h6>
            </div>
        </div>
    </div>
</div>
