.barra-search {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
}

.menu-nav {
    text-align: center;
    margin-left: 150px;
    float: left;
}

.font-nav {
    text-align: center;
    font-size: 16px;
    margin-left: 70px;
    display: flex;
}

.menu-user {
    margin-left: 350px;
}
