<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/rede">Redes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/tapete">Tapetes</a>
        </li>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nome Cliente
                      </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a routerLink="/cliente">Meus Dados</a></li>
                        <li><a routerLink="/endereco">Meus Endereços</a></li>
                        <li><a routerLink="/cartao">Meus Cartões</a></li>
                        <li><a routerLink="/home">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </ul>
</nav>

<router-outlet></router-outlet>
