<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/rede">Redes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/tapete">Tapetes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cliente">Meus Dados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/endereco">Meus Endereços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cartao">Meus Cartões</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/carrinho"><i class="fa fa-cart-plus"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/sair">Sair</a>
        </li>

        <!-- Dropdown
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Perfil
      </a>
            <div class="dropdown-menu">
                <a routerLink="/cliente">Meus Dados</a>
                <a routerLink="/endereco">Meus Endereços</a>
                <a routerLink="/cartao">Meus Cartões</a>
                <a routerLink="/home">Sair</a>
            </div>
        </li> -->
    </ul>
</nav>