<nav class="navbar navbar-expand-sm" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./../../../assets/logoTipo.png" style="height: 80px" alt="LogoTipo da Loja">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav center ml4" style="margin-left: 160px;">
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 18px; color: black;" routerLink="/rede-listar"><b>Redes</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_font" routerLink="/tapete-listar"><b>Tapetes</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_font" routerLink="/cliente-listar"><b>Meus Dados</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_font" routerLink="/endereco-listar"><b>Meus Endereços</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_font" routerLink="/cartao-listar"><b>Meus Cartões</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav_font" routerLink="/home"><b>Sair</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
