<h4>Cadastrar Novo Cartão</h4>
<form #cartaoForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="success == true">
                Cartão salvo com sucesso!
            </div>
            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{ erro }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input id="numcartao" type="text" class="validate">
            <label for="numcartao">Número do Cartão</label>
        </div>
        <div class="input-field col s6">
            <input id="nomeclientecartao" type="text" class="validate">
            <label for="nomeclientecartao">Nome impresso no Cartão</label>
        </div>
        <div class="input-field col s12">
            <select>
                  <option value="visa">Visa</option>
                  <option value="mastercard">MasterCard</option>
                  <option value="american">American Express</option>
                  <option value="discover">Discover Network</option>
                  <option value="elo">Elo</option>
                  <option value="hipercard">Hipercard</option>
              </select>
            <label>Bandeira</label>
        </div>

        <div class="input-field col s6">
            <input id="codigo" type="text" class="validate">
            <label for="codigo">Código</label>
        </div>
    </div>
    <a type="submit" class="waves-effect waves-light btn">
        <i class="material-icons">save</i>Cadastrar</a>

    <a type="button" class="waves-effect waves-light btn" (click)="voltarParaListagem()">
        <i class="material-icons">arrow_back</i>Voltar</a>

</form>