<div class="container">

    <div class="row">
        <div class="col-md-4 m-5">
            <img class="card-img-top img-fluid h-70" src="./../../../../assets/rede3.jpeg" alt="">
        </div>
        <div class="card col-md-5 m-3" style="width: 18rem;">
            <div class="card-body">
                <div class="separador-card m-2">
                    <h4 class="card-title card-preco-red"><b>Rede Simples Preta</b></h4>
                    <div class="form-inline">
                        <h6 class="card-subtitle m-2 text-muted little-word">Código: A007
                        </h6>
                    </div>
                </div>
                <h3 class="card-text card-preco-red mt-5"><b>119,00</b></h3>
                <h5 class="card-text">até <b>10x</b> de <b>11,90</b></h5>
                <h5 class="card-text mb-3">ou <b>100,00</b> via Boleto Bancário</h5>
                <form>
                    <button type="submit" class="btn btn-success w-50 offset-md-6" routerLink="/carrinho">Comprar</button>
                </form>

                <div class="input-group mt-2">
                    <input type="text" class="form-control col-md-3" value="08750-330" placeholder="CEP">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Calcular</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>