<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/cliente">Meus Dados</a></li>
    <li><a routerLink="/endereco">Meus Endereços</a></li>
    <li><a routerLink="/cartao">Meus Cartões</a></li>
    <li class="divider"></li>
    <li><a routerLink="/home">Sair</a></li>
</ul>


<nav>
    <div class="nav-wrapper">
        <a routerLink="/home" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/rede">Redes</a></li>
            <li><a routerLink="/tapete">Tapetes</a></li>
            <!-- <li><a routerLink="/cartao">Components</a></li> -->
            <!-- Dropdown Trigger -->
            <li>
                <!-- <a class="dropdown-trigger" href="#!" data-target="dropdown1" value="{{ cliente.nome }}"></a> -->
            </li>
        </ul>
    </div>
</nav>