<div class="container">
    <div class="row">
        <div class="card center" *ngFor="let produto of produtos">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./assets/rede3.jpeg">
            </div>
            <div class="card-content">
                <a routerLink="/detalhe-produto" class="card-title grey-text text-darken-4">Rede Preta Simples
                  <h6><p>10x 11,90 Sem Juros</p></h6>
                  <h6><p>À vista 100,00</p></h6>
                  <h6><p>no boleto com 12% <b>de desconto</b></p></h6></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card center" *ngFor="let produto of produtos">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./assets/rede3.jpeg">
            </div>
            <div class="card-content">
                <a routerLink="/detalhe-produto" class="card-title grey-text text-darken-4">Rede Preta Simples
                <h6><p>10x 11,90 Sem Juros</p></h6>
                <h6><p>À vista 100,00</p></h6>
                <h6><p>no boleto com 12% <b>de desconto</b></p></h6></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card center" *ngFor="let produto of produtos">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./assets/rede3.jpeg">
            </div>
            <div class="card-content">
                <a routerLink="/detalhe-produto" class="card-title grey-text text-darken-4">Rede Preta Simples
              <h6><p>10x 11,90 Sem Juros</p></h6>
              <h6><p>À vista 100,00</p></h6>
              <h6><p>no boleto com 12% <b>de desconto</b></p></h6></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card center" *ngFor="let produto of produtos">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./assets/rede3.jpeg">
            </div>
            <div class="card-content">
                <a routerLink="/detalhe-produto" class="card-title grey-text text-darken-4">Rede Preta Simples
            <h6><p>10x 11,90 Sem Juros</p></h6>
            <h6><p>À vista 100,00</p></h6>
            <h6><p>no boleto com 12% <b>de desconto</b></p></h6></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card center" *ngFor="let produto of produtos">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./assets/rede3.jpeg">
            </div>
            <div class="card-content">
                <a routerLink="/detalhe-produto" class="card-title grey-text text-darken-4">Rede Preta Simples
            <h6><p>10x 11,90 Sem Juros</p></h6>
            <h6><p>À vista 100,00</p></h6>
            <h6><p>no boleto com 12% <b>de desconto</b></p></h6></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card center" *ngFor="let produto of produtos">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./assets/rede3.jpeg">
            </div>
            <div class="card-content">
                <a routerLink="/detalhe-produto" class="card-title grey-text text-darken-4">Rede Preta Simples
            <h6><p>10x 11,90 Sem Juros</p></h6>
            <h6><p>À vista 100,00</p></h6>
            <h6><p>no boleto com 12% <b>de desconto</b></p></h6></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card center" *ngFor="let produto of produtos">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./assets/rede3.jpeg">
            </div>
            <div class="card-content">
                <a routerLink="/detalhe-produto" class="card-title grey-text text-darken-4">Rede Preta Simples
            <h6><p>10x 11,90 Sem Juros</p></h6>
            <h6><p>À vista 100,00</p></h6>
            <h6><p>no boleto com 12% <b>de desconto</b></p></h6></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card center" *ngFor="let produto of produtos">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./assets/rede3.jpeg">
            </div>
            <div class="card-content">
                <a routerLink="/detalhe-produto" class="card-title grey-text text-darken-4">Rede Preta Simples
            <h6><p>10x 11,90 Sem Juros</p></h6>
            <h6><p>À vista 100,00</p></h6>
            <h6><p>no boleto com 12% <b>de desconto</b></p></h6></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card center" *ngFor="let produto of produtos">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="./assets/rede3.jpeg">
            </div>
            <div class="card-content">
                <a routerLink="/detalhe-produto" class="card-title grey-text text-darken-4">Rede Preta Simples
            <h6><p>10x 11,90 Sem Juros</p></h6>
            <h6><p>À vista 100,00</p></h6>
            <h6><p>no boleto com 12% <b>de desconto</b></p></h6></a>
            </div>
        </div>
    </div>

</div>
