<div>
    <h4>Lista de Endereços</h4>
</div>

<div class="mat-elevation-z4">
    <table class="highlight">
        <thead>
            <tr>
                <th>Logradouro</th>
                <th>Tipo Residência</th>
                <th>Endereco</th>
                <th>Numero</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>País</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let endereco of enderecos">
                <td>{{ endereco.logradouro }}</td>
                <td>{{ endereco.tpResidencia }}</td>
                <td>{{ endereco.endereco }}</td>
                <td>{{ endereco.numero }}</td>
                <td>{{ endereco.bairro }}</td>
                <td>{{ endereco.cidade }}</td>
                <td>{{ endereco.estado }}</td>
                <td>{{ endereco.pais }}</td>
                <td>
                    <a routerLink="/perfil/endereco/endereco-editar/{{ endereco.id }}" class="waves-effect waves-light btn">
                        <i class="material-icons">create</i></a>

                    <a type="button" class="waves-effect waves-light btn" (click)="novoCadastroEndereco()">
                        <i class="material-icons">save</i>Cadastrar Endereço</a>

                    <a class="waves-effect waves-light btn modal-trigger" (click)="preparaDelecao(endereco)" href="#modal1">
                        <i class="material-icons">delete</i></a>
                </td>
            </tr>
        </tbody>


        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-content" *ngIf="enderecoSelecionado">
                    Confirma a deleção do(a) Cartão {{ enderecoSelecionado.endereco }}?
                </div>

                <div class="modal-footer">
                    <a class="waves-effect waves-light btn" (click)="deletarCartao()" data-dismiss="modal">Confirmar</a>
                    <a class="waves-effect waves-light btn" data-dismiss="modal">Cancelar</a>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>

    </table>
</div>