<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner carrosel conteiner img">
        <div class="carousel-item">
            <img class="d-block w-100" src="./assets/rede.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="./assets/rede2.jpeg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="./assets/rede3.jpeg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Voltar</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Proxima</span>
    </a>
</div>

<body>
    <div class="container produto">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card card-imagem h-100">
                    <a href="#">
                        <img class="img-fluid" src="./assets/rede.png" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center">Rede de Descanso Simples Creme.
                            </h6>
                            <h5 class="card-preco-red text-center">
                                10x 11,90
                            </h5>
                            <h5 class="text-center">
                                <b>sem juros</b> no cartão
                            </h5>
                            <h5 class="card-preco-green text-center">
                                À vista 100,00
                            </h5>
                            <h5 class="text-center">
                                no boleto com 12% <b>de desconto</b>
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card card-imagem h-100">
                    <a href="#">
                        <img class="img-fluid" src="./assets/rede.png" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center">Rede de Descanso Simples Creme.
                            </h6>
                            <h5 class="card-preco-red text-center">
                                10x 11,90
                            </h5>
                            <h5 class="text-center">
                                <b>sem juros</b> no cartão
                            </h5>
                            <h5 class="card-preco-green text-center">
                                À vista 100,00
                            </h5>
                            <h5 class="text-center">
                                no boleto com 12% <b>de desconto</b>
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card card-imagem h-100">
                    <a href="#">
                        <img class="img-fluid" src="./assets/rede.png" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center">Rede de Descanso Simples Creme.
                            </h6>
                            <h5 class="card-preco-red text-center">
                                10x 11,90
                            </h5>
                            <h5 class="text-center">
                                <b>sem juros</b> no cartão
                            </h5>
                            <h5 class="card-preco-green text-center">
                                À vista 100,00
                            </h5>
                            <h5 class="text-center">
                                no boleto com 12% <b>de desconto</b>
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>